<!DOCTYPE html>
<html>
<script type="text/javascript">
    var filter = "win16|win32|win64|mac";

    if(navigator.platform){
        if(0 > filter.indexOf(navigator.platform.toLowerCase())){
            document.location = "/m"
        }else{
            alert("PC");
        }
    }
</script>
<head>
</head>

<body>
Test
</body>

</html>