.demo-1 h1 {
  margin: 1em 0 0.5em 10px;
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
  text-align: left;
}

.demo-1 h2 {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  font-family: 'Orienta', sans-serif;
}

.demo-1 h3 {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-size: 22px;
  line-height: 40px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Orienta', sans-serif;
  letter-spacing: 1px;
  font-style: italic;
}

.demo-1 h4 {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  font-family: 'Orienta', sans-serif;
}