/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
body {
  margin: 0;
}

a {
  text-decoration: none;
}

table,tr,td {
  border:0px solid black;
  border-spacing: 0px 0px;
  border-collapse: collapse;
}

#main {
  margin-top: 10px;
  text-align: center;
  transition: margin-left .5s;
}

#main .main_sub_title {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 20px;
}

#main .sub_title_tbl {
  width: 80%;
  margin: auto;
}

#main .sub_title_tbl tr td{
  border:1px solid black;
  width: 50%;
}

.sub_top_menubar {
  margin-bottom: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#header_top_menubar {
  color:white;
  font-size: 15px;
}

#header_top_menubar menu_item {
  font-size: 17px;
  color: white;
}

header {
  font-size: 30px;
  margin: auto;
  background-color: #aaaaaa;
  text-align: center;
  height: 152px;
}

footer {
  margin-bottom: 10px;
}

.title_img {
  width: 270px;
  height: auto;
  margin: auto;
}

.header_btn {
  width: 120px;
  height: auto;
}

#header_btns_tbl {
  width: 60%;
  margin: auto;
}

#alert_message {
  color: red;
}

.big_number {
  font-size: 40px;
  margin-bottom: 20px;
}

.btnstyle1 {
  display: inline-block;
  width: 40px;
  height:35px;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #830000;
  color: #ffffff;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.btn_submit {
  display: inline-block;
  width: 140px;
  height:50px;
  font-size: 30px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

table.type08 {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border-left: 1px solid #ccc;
  margin: 0 auto;
}

table.type08 thead th {
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 2px solid #c00;
  background: #dcdcd1;
}
table.type08 tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #ececec;
}
table.type08 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

table.type08 .even {
  background: #f7f7f7;
}

table.type08 tbody .vcenter {
  vertical-align: middle;
}