/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
body {
  margin: 0;
}

table,tr,td {
  border:0px solid black;
  border-spacing: 0px 0px;
  border-collapse: collapse;
}

#main {
  margin-top: 10px;
  text-align: center;
  transition: margin-left .5s;
}

#main .main_sub_title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 25px;
}

#main .sub_title_tbl {
  width: 80%;
  margin: auto;
}

#main .sub_title_tbl tr td{
  border:1px solid black;
  width: 50%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

header {
  font-size: 30px;
  margin: auto;
  background-color: #830000;
  text-align: center;
  height: 210px;
}

.title_img {
  width: 270px;
  height: auto;
  margin: auto;
}

.header_btn {
  width: 120px;
  height: auto;
}

#header_btns_tbl {
  width: 60%;
  margin: auto;
}

#alert_message {
  color: red;
}

.big_number {
  font-size: 40px;
  margin-bottom: 20px;
}

.btnstyle1 {
  font-size: 22px;
  margin-left: 3px;
  margin-right: 3px;

  background-color: #830000;
  color: #ffffff;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}