<header>
    <img class="title_img" src="/images/title_img.png"/><br/>
    <table id="header_btns_tbl">
        <tr>
            <td><a href="/m"><img class="header_btn" src="/images/btn_main.png"/></a></td>
            <td><a href="/m/myinfo"><img class="header_btn" src="/images/btn_record.png"/></a></td>
        </tr>
        <tr>
            <td><a href="/m/ranking"><img class="header_btn" src="/images/btn_ranking.png"/></a></td>
            <td><a href="/m/input_score" style="text-decoration: none"><menu_item style="font-size: 22px; color: white; vertical-align: top;">Input</menu_item></a></td>
        </tr>
    </table>
</header>
<!-- Use any element to open the sidenav -->